{
  "installed": {
    "client_id": "467461891193-eja7ei2cc7iqvsk4qu6kiek3eisir5cc.apps.googleusercontent.com",
    "client_secret":"5WeF10mXjfUO55nxPRo2io3x",
    "redirect_uris": ["http://localhost"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}